.jumbotron{
    background-image: url(../../Texture/Desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.Title .Text h1{
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.Info .row .col-md-6 .thumbnail p{
    font-size: 20px;
}

.Info .row .col-md-6 .thumbnail img{
    width: 252px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.workStory .thumbnail h2{
    font-weight: bold;
}

.workStory .thumbnail p{
    font-size: 20px;
}

.workSpecialty .thumbnail h2{
    font-weight: bold;
}

.workSpecialty .thumbnail p{
    font-size: 20px;
}

.workSkill .thumbnail h2{
    font-weight: bold;
}

.workSkill .thumbnail p{
    font-size: 20px;
}

.Autobiography .thumbnail h2{
    font-weight: bold;
}

.Autobiography .thumbnail p{
    font-size: 20px;
}

.Future .thumbnail h2{
    font-weight: bold;
}

.Future .thumbnail p{
    font-size: 20px;
}

.Game .thumbnail h2{
    font-weight: bold;
}

.Game .thumbnail p{
    font-size: 20px;
}

.Licenses .div-left{
   
    float:left;
}

.Licenses h2{
     font-weight: bold;
}

.Licenses p{
    font-size: 20px;
}

.Licenses img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}